.izq {
    background-color: gold;
}

.der {
    background-color: brown;
}

.img-fluid{
    border-radius: 500px;
    height: 225px;
    width: 225px;
}

#contacto{
    text-align: left;
}
.fas{
 align-items: left;
}